.activelink{
     color: #6c7ae0;
     border-bottom: 1px solid #6c7ae0;
 }
.catalog-nonactive {
    color: #888;
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.2;
}
.catalog-nonactive:hover {
    color: #333;
    border-color: #797979;
    border-bottom: 1px solid transparent;
}

.it_mine_ok {
    background-color: #ff8087 !important;
    box-shadow: 0 0 0 3px #ff8087;
    font-family: Quicksand;
    border-radius: 2em !important;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1px;
    border: 2px dashed #fff;
    transition: all .6s cubic-bezier(.77,0,.175,1);
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    color: #fff;
    background: #ff8087 ;
}
    .it_mine_ok:hover {
        background-color: #57c1db !important;
        box-shadow: 0 0 0 3px #57c1db;
    }


 .counter {
     font-family: 'Oswald', sans-serif;
     font-weight: 400;
     font-size: 35px;
     margin: 0 60px;
     color: #5E606A;
 }
.minus, .plus {
    height: 72px;
    width: 30px;
    vertical-align: top;
    position: relative;
}
.minus {
    text-align: right;
}
.minus svg, .plus svg {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  
}
.header-cart-item-img {
    margin-right: 12px;
    float: left;
}
.header-cart-item-txt {
    width: 45%;
    float: left;
}
.minus-cart {
    cursor: pointer;
    float: left;
    margin-top: 6px;
}
.counter-cart {
    float: left;
    font-size: 25px;
    padding: 0px 6px 0px 2px;
}
.plus-cart {
    cursor: pointer;
    float: left;
    margin-top: 8px;
}
.shopping-success {
    text-align: center;
    display: none;
}
.continue-shop {
    width: 10px;
    margin: 0 auto;
}
.succe {
    margin-bottom: 45px;
}